<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>HomePage</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <%- include('./partials/scripts.ejs') %>

</body>

</html>