<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>HomePage</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <h3>These are the user details</h3>
        <% if (user) { %>
            <%= JSON.stringify(user) %>
                <!-- Add other user properties as needed -->
                <% } else { %>
                    <p>User not logged in</p>
                    <% } %>

                        <%- include('./partials/scripts.ejs') %>

</body>

</html>